
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$custom-bluegrey: (
    50 : #eaeeef,
    100 : #ccd4d7,
    200 : #aab7bd,
    300 : #879aa2,
    400 : #6e848e,
    500 : #546e7a,
    600 : #4d6672,
    700 : #435b67,
    800 : #3a515d,
    900 : #293f4a,
    A100 : #95d9ff,
    A200 : #62c7ff,
    A400 : #2fb5ff,
    A700 : #15acff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$ng-kanban-primary: mat-palette($custom-bluegrey);
$ng-kanban-accent: mat-palette($custom-bluegrey, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ng-kanban-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ng-kanban-theme: mat-dark-theme($ng-kanban-primary, $ng-kanban-accent, $ng-kanban-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ng-kanban-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
